<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.savvisingh.nanakshahicalendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.mdgiitr.nanakshahicalendar.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="com.mdgiitr.nanakshahicalendar.util.MySuggestionProvider"
            android:authorities="com.mdgiitr.nanakshahicalendar.util.MySuggestionProvider" />

        <activity
            android:name="com.mdgiitr.nanakshahicalendar.activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchResultsActivity" />
        </activity>
        <activity
            android:name="com.mdgiitr.nanakshahicalendar.activities.LauncherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mdgiitr.nanakshahicalendar.activities.EventActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.mdgiitr.nanakshahicalendar.service.AlarmService"
            android:exported="false" />

        <receiver
            android:name="com.mdgiitr.nanakshahicalendar.broadcast_receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.mdgiitr.nanakshahicalendar.broadcast_receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mdgiitr.nanakshahicalendar.activities.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop"
            android:parentActivityName="com.mdgiitr.nanakshahicalendar.activities.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdgiitr.nanakshahicalendar.activities.HomeActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.mdgiitr.nanakshahicalendar.activities.AboutDeveloper"></activity>
    </application>

</manifest>